<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Story 6 - Abi Fajri Abdillah</title>
    <style>
        body {
            font-size: 25px;
            text-align: center;
        }

        table {
            margin: auto;
        }
    </style>
</head>
<body>
    <h2>
        Welcome back again with me, Aldo dari <span style="color: orange;">The Lazy Monday,</span> <span style="color: olivedrab;">now,</span> <span style="color: blue;"> today!</span>
    </h2>
    <br>

    <div>
        <form action="add_status" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="font-size:20px">Gaskeun!</button>
        </form>
    </div>
    <br>
    <div>
        {% for s in status %}
        <table>
            <tr>
                <td> {{ s.date }} </td>
                <td> &nbsp;-&nbsp; </td>
                <td> {{ s.status }} </td> 
            </tr>
        </table>
        {% endfor %}
    </div>

</body>
</html>